* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    background-color: #1B1B1B;
    color: #FCFCFC;
    font-family: 'Raleway', sans-serif;
}

.title {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #131313;
    height: 32px;
    line-height: 32px;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0% 0%;
}

.canvas {
    margin-left: 190px;
    position: fixed;
    top: 32px;
}

.sidebar {
    padding-top: 12px;
    text-align: center;
    display: inline-block;
    background-color: #272727;
    width: 190px;
    position: absolute;
    left: 0;
    top: 32px;
    bottom: 0;
}

.centered-content {
    text-align: center;
}

.content-box {
    margin-left: 20%;
}

div.index a:visited {
    color: #FCFCFC;
}

div.index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.index li a {
    color: #FCFCFC;
    text-decoration: none;
}

div.index li a:hover {
    background-color: #FCFCFC;
    color: #000000;
}

.footer { 
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCFCFC;
    color: #000000;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0% 0%;
    height: 32px;
    line-height: 32px;
}

div.footer a:hover, div.footer a:visited:hover {
    background-color: #101010; 
    color: #FCFCFC;
}

div.footer a {
    text-decoration: none;
}

div.footer a:visited {
    color: #101010;
}
