* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    background-color: #1B1B1B;
    color: #FCFCFC;
    font-family: 'Raleway', sans-serif;
}

.title-wrap {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #131313;
    height: 32px;
/*    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0% 0%; */
}

.title {
    text-align: center;
    line-height: 32px;
    margin-left: 190px;
}

.canvas {
    width: 100%;
    position: fixed;
    top: 32px;
}

canvas {
    padding-left: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.return-button a {
    top: 0;
    left: 0;
    width: 190px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: fixed;
    background-color: #1B1B1B;
    text-decoration: none;
    color: #FCFCFC;
    font-style: italic;
}

.return-button a:hover {
    background-color: #FCFCFC;
    color: #101010;
}

.sidebar-title {
    font-weight: bold;
    top: 32px;
    left: 0;
    width: 190px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: fixed;
    background-color: #131313;
}

.sidebar {
    text-align: center;
    display: inline-block;
    background-color: #272727;
    width: 190px;
    position: fixed;
    left: 0;
    top: 64px;
    bottom: 0;
}

.sidebar-button {
    background-color: #131313;
    color: #FCFCFC;
    border: none;
    padding: 5px;
    width: 85%;
}

.sidebar-button:hover {
    background-color: #FCFCFC;
    color: #131313;
}

.sidebar-button:after {
    background-color: #FAFA32;
    color: #131313;
}


.centered-content {
    text-align: center;
}

.content-box {
    margin-left: 20%;
}

div.index a:visited {
    color: #FCFCFC;
}

div.index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.index li a {
    color: #FCFCFC;
    text-decoration: none;
}

div.index li a:hover {
    background-color: #FCFCFC;
    color: #000000;
}

.footer { 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCFCFC;
    text-align: center;
    color: #101010;
/*    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0% 0%; */
    height: 32px;
    line-height: 32px;
}

div.footer a:hover, div.footer a:visited:hover {
    background-color: #101010; 
    color: #FCFCFC;
}

div.footer a {
    text-decoration: none;
}

div.footer a:visited {
    color: #101010;
}

.color-picker {
    margin-top: 3px;
    border: none;
    width: 64px;
    height: 20px;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}


